html {
  height: 100%;
}

body {
  margin: 0;
  min-height: 100%;
  font: 16px / 1 sans-serif;
}

.top-navigation-bar {
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.icon.box.left {
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.icon.box.left-content {
  display: flex;
  justify-content: center;
}